<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="EN">
<head>
    <title>Atio</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>
<p>
    Actions with people
</p>
<form action="#" th:action="@{/human/create}" th:object="${human}" method="post">
    <table border="1">
        <tr>
            <td> Name </td>
            <td><input type="text" th:field="*{name}" /></td>
        </tr>
        <tr>
            <td> Age </td>
            <td><input type="number" th:field="*{age}" /></td>
        </tr>
        <tr>
            <td><input type="submit" value="Create" /></td>
        </tr>
    </table>
</form>

<form action="http://localhost:8080/human/create/simple" method="post">
    <table border="1">
        <tr>
            <td> Name </td>
            <td><input type="text" name="name" value="Anonymous"/></td>
        </tr>
        <tr>
            <td> Age </td>
            <td><input type="number" name="age" value="99"/></td>
        </tr>
        <tr>
            <td><input type="submit" value="Create" /></td>
        </tr>
    </table>
</form>
</body>
</html>